@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --color-1: #0f1016;
    --text-color: #f0f0f0;
    --accent-color: #006aff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: merriweather;

}

.schoolBanner {
    height: 105px;
    background-color: #F8F8F8;
    position: fixed;
    width: 100%;
    display: inline-flex;
    overflow: hidden;
}


nav {
    height: 60px;
    background-color: rgb(37, 34, 34);
    display: block;
    justify-content: flex-end;
    align-items: center;
    position:fixed ;
    width: 100%;
    margin-top: 100px;
}
.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 35%;
    margin-right: 25%;
}

nav a {
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    font-family: "Open Sans" sans-serif;
    font-weight: 550;
}

nav a:hover {
    background-color: green;
}

nav a:hover {
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    
}

nav svg {
    fill : white;
}

.green-line{
    color: #208824;
    height: 5px;
    margin-top: -20px;
    width: 40px;
    position: absolute;
}

#sidebar-active {
    display : none;
    
}

.open-sidebar-button, .close-sidebar-button {
    padding-top: 8px;
    display: none;
}

.green-line-left{
    width: 20%;
    height: 15px;
    background-color: #208824;
    position: fixed;
    margin-top: 120px;
    margin-left: 0;
}
.green-line-right{
    width: 20%;
    height: 15px;
    background-color: #208824;
    position: fixed;
    margin-top: 120px;
    margin-left: 1600px;
}
.header {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.content {
    text-align: center;
}

.content h1 {
    color: white;
    margin-bottom: 30px;
    margin-right: -50px;
}

.background-vid {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
}

.schoolLogo {
    margin-left: 360px;
    display: flex;
}

.schoolName {
    font-family: "DM Serif Text", sans-serif;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 19px;
    display: flex;
}

.adr {
    text-align: right;
    margin-top: 20px;
    margin-left: 600px;
    font-size: 19px;
    font-family: "DM Serif Text", sans-serif;
    display: flex;
}

.address {
    text-align: center;
}

.linegap-green {
    height: 8px;
    background-color: #208824;
    display: flex;
}

.latest-news {
    height: 600px;
    background-color: #D0D0D0;
    display: flex;
}

.news-Title h1 {
    font-size: 30px;
    margin-left: 380px;
    margin-top: -50px;
    display: flex;
}

.undernews-Title {
    height: 5px;
    width: 70px;
    background-color: black;
    margin-left: 380px;
    margin-top: -450px;
}

.news-1,
.event-1 {
    margin-left: 380px;
    margin-top: 100px;
    object-fit: cover;
    border-radius: 20px;
}

.news-1-descr,
.event-1-descr {
    margin-left: 380px;
    color: black;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}

.news-2,
.event-2 {
    object-fit: cover;
    border-radius: 20px;
    margin-left: 780px;
    margin-top: -340px;
}

.news-2-descr,
.event-2-descr {
    color: black;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-weight: 600;
    margin-left: 780px;
    margin-top: -64.5px;
    font-size: 15px;
}

.news-3,
.event-3 {
    object-fit: cover;
    border-radius: 20px;
    margin-left: 1180px;
    margin-top: -330px;
}

.news-3-descr,
.event-3-descr {
    margin-left: 1280px;
    margin-top: -62.5px;
    color: black;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}

.container,
.container-2 {
    text-align: center;
}

.btn {
    border: 1px solid black;
    background-color: none;
    padding: 10px 40px;
    border-radius: 30px;
    border-width: 3px;
    font-family: "DM Serif Text", sans-serif;
    font-size: 20px;
    transition: 0.8s;
    cursor: pointer;
    margin-top: 20px;
}

.btn1,
.btn2 {
    color: black;
}

.btn1:hover {
    color: white;
    background-color: #208824;
}

.btn2:hover {
    color: white;
    background-color: #208824;
}

.what-students-say {
    height: 640px;
    background-color: #EDECEC;
    margin-top: 60px;
}

.title-what-student-say {
    text-align: center;
    margin-top: -524px;
    font-size: 48px;
}

.mini-description {
    text-align: center;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    text-decoration: underline;
}

.reviews {
    width: 510px;
    height: 191px;
    background-color: white;
    border-radius: 10px;
    margin-left: 380px;
    margin-top: 70px;
}

.student-1 {
    font-family: "Open Sans" sans-serif;
    margin-right: 70px;
}

.student-descr-1 {
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.student-1-name {
    color: #208824;
}

.reviews-2 {
    width: 510px;
    height: 191px;
    background-color: white;
    border-radius: 10px;
    margin-left: 570px;
    margin-top: -165px;
}

.student-descr-2 {
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.rating-1 {
    margin-top: -30px;
    margin-right: 140px;
    color: orange;
    font-size: 30px;
}

.rating-2 {
    color: orange;
    font-size: 30px;
    margin-top: -30px;
    margin-left: -210px;
}

.linegap-green-2 {
    margin-top: 180px;
    background-color: #208824;
    height: 8px;
}

.linegap-black-1 {
    margin-top: 0px;
    background-color: rgb(37, 34, 34);
    height: 12px;
}

.events {
    height: 600px;
    background-color: #D0D0D0;
}

.event-Title h1 {
    font-size: 30px;
    margin-left: 380px;
    margin-top: -50px;
    display: flex;
}

.event-1-descr {
    margin-left: 400px;
}

.event-2-descr {
    margin-left: 826px;
}

.event-3-descr {
    margin-left: 1220px;
}


.linegap-green-3 {
    margin-top: 60px;
    background-color: #208824;
    height: 8px;
}

.linegap-black-2 {
    margin-top: 0px;
    background-color: rgb(37, 34, 34);
    height: 12px;
}

.img-2 {
    margin-top: 50px;
    border: 1px solid white;
    border-radius: 30px;
    background-color: white;
    margin-left: 880px;
}

.footer-schoolname {
    font-size: 19px;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    font-family: "DM Serif Text", sans-serif;
    font-weight: 16px;
}

.white-line-1 {
    border: 1px solid white;
    width: 280px;
    align-items: center;
    justify-content: center;
    margin-left: 810px;
    margin-top: 20px;
}

.connect {
    text-align: center;
    font-size: 18px;
    color: white;
    margin-top: 10px;

}

.insta {
    margin-left: 880px;
    margin-top: 20px;
}

.fb {
    margin-left: 20px;
    margin-top: 20px;
}

.yt {
    margin-left: 20px;
    margin-top: 20px;
}

.white-line-2 {
    border: 1px solid white;
    width: 185px;
    margin-left: 855px;
    margin-top: 90px;
    margin-bottom: 90px;
}

.all-rights-reserved {
    text-align: center;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    margin-left: 70px;
}

.profile-pic-1 {
    margin-top: 15px;
    margin-right: 330px;
}

.foot-nav li{
    display: inline;
    margin-right: 2px;
    border-right: 1px solid white;
    padding: 0 10px;
}

.foot-nav a{
    font-family: "Open Sans", sans-serif;
    color: white;
    font-family: 13px;
    font-weight: 600;
}

.foot-nav ul{
    list-style: none;
    text-align: center;
}

.foot-nav{
    margin-left: 80px;
}

.foot-nav li:last-child {
    border-right: none;
  }

@media only screen and (max-width: 412px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: content-box;
    }

    .schoolBanner {
        display: none;
    }
    nav a:hover {
        color: white;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
    }
    .green-line-left, .green-line-right{
        display: none;
    }
    .links-container{
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        width: 300px;
        display: none;
        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.8s ease-out;
        margin-right: 0;
        margin-left: 0;
    }

    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;

    }
    nav{
        position: fixed;
        width: 89.2%;
        margin-top: 0px;
        padding-right: 20px;
    }

    .close-sidebar-button{
        padding-left: 70%;

    }

    .open-sidebar-button, .close-sidebar-button{
        display: block ;
        margin-right: 0;
        margin-left: 0;
        color: white;
    }
    #sidebar-active:checked ~ .links-container{
        display: flex;
    }

    .open-sidebar-button{
        padding-top: 8px;
        padding-left: 90%;
    }

    .schoolLogo {
        /* margin-left: 20px;
        border: 3px solid red;
        height: 60px; */
        display: none;

    }

    .schoolName,
    .adr,
    .green-line-left,
    .black-line-center {
        display: none;
        border: 3px solid red;


    }


    .content {
        font-size: 1px;
        margin-right: 80px;
        border: 3px solid red;

    }

    .latest-news {
        height: 1500px;
        background-color: #D0D0D0;
        margin-top: 10px;
        border: 3px solid red;

    }

    .news-Title {
        margin-top: -1300px;
        margin-left: -350px;
        margin-bottom: 50px;
        border: 3px solid red;

    }

    .news-2,
    .event-2 {
        object-fit: cover;
        border-radius: 20px;
        margin-left: 380px;
        margin-top: -5px;
        border: 3px solid red;

    }

    .news-2-descr {
        color: black;
        font-family: "Open Sans", sans-serif;
        text-decoration: none;
        font-weight: 600;
        margin-left: 380px;
        margin-top: -3px;
        font-size: 15px;
        border: 3px solid red;

    }

    .news-3,
    .event-3 {
        object-fit: cover;
        border-radius: 20px;
        margin-left: 380px;
        margin-top: -10px;
        border: 3px solid red;

    }

    .news-3-descr {
        margin-left: 480px;
        margin-top: -5px;
        color: black;
        font-family: "Open Sans", sans-serif;
        text-decoration: none;
        font-weight: 600;
        font-size: 15px;
        border: 3px solid red;

    }

    .undernews-Title {
        display: none;
        border: 3px solid red;

    }

    .btn {
        margin-left: 350px;
        border: 3px solid red;

    }

    .event-1 {
        margin-top: 100px;
        margin-left: 40px;
        border: 3px solid red;

    }

    .event-2 {
        margin-top: 25px;
        margin-left: 40px;
        border: 3px solid red;

    }

    .event-3 {
        margin-top: 25px;
        margin-left: 40px;
        border: 3px solid red;

    }

    .event-Title h1 {
        font-size: 30px;
        margin-left: 40px;
        margin-top: -1250px;
        display: flex;
        border: 3px solid red;

    }

    .events {
        height: 1300px;
        border: 3px solid red;

    }

    .reviews {
        margin-left: 20px;
        margin-top: 30px;
        height: 250px;
        width: 370px;
        border: 3px solid red;

    }

    .reviews-2 {
        display: none;
        border: 3px solid red;

    }

    .student-descr-2 {
        display: none;
        border: 3px solid red;

    }

    .rating-1 {
        margin-top: -30px;
        margin-right: 190px;
        color: orange;
        font-size: 30px;
        margin-left: 80px;
        border: 3px solid red;

    }

    .rating-2 {
        display: none;
        border: 3px solid red;

    }

    .student-descr-1 {
        text-align: left;
        font-family: "Montserrat", sans-serif;
        font-size: 5px;
        border: 3px solid red;

    }

    .student-1-name {
        color: #208824;
        margin-left: 50px;
        border: 3px solid red;

    }

    .profile-pic-1 {
        margin-left: 25px;
        border: 3px solid red;

    }

    .btn2 {
        color: black;
        margin-left: -45px;
        border: 3px solid red;

    }

    .event-1-descr {
        margin-left: 60px;
        border: 3px solid red;

    }

    .event-2-descr {
        margin-left: 80px;
        margin-top: 1px;
        border: 3px solid red;

    }

    .event-3-descr {
        margin-left: 80px;
        margin-top: 1px;
        border: 3px solid red;

    }

    .img-2 {
        margin-top: 50px;
        border: 1px solid white;
        border-radius: 30px;
        background-color: white;
        margin-left: 140px;
        border: 3px solid red;

    }

    .white-line-1 {
        margin-left: 70px;
        border: 3px solid red;

    }

    .white-line-2 {
        margin-left: 115px;
        border: 3px solid red;

    }

    .insta {
        margin-left: 140px;
        border: 3px solid red;

    }

    .all-rights-reserved {
        margin-top: 80px;
        border: 3px solid red;

    }
}